
/* .grid2x2 {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
} */

body {
  background: #eca1a6;
}

h1 {
  font-size: 60px;
  font: arial;
  position: absolute;
  top: 200px;
}

h3 {
  font-size: 30px;
}


img {
  width: 100%;
  height: 100%;
}

#test {
  display: inline;
}
